* {
  margin: 0;
  padding: 0;
}
/* navbar starts */
.menu-container {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: wheat;
  padding: 15px;
}
.menu-items {
  display: flex;
}
.menu-items li {
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 17px;
}
.menu-items li:hover {
  color: blue;
  cursor: pointer;
}
.company-logo {
  margin-right: 68%;
}
.banner-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: wheat;
  align-items: center;
}
.banner-description {
  margin-left: 50px;
}
.bannner-text {
  color: red;
  font-size: 30px;
}
.title-1 {
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
}
.text {
  font-size: 25px;
  margin: 10px;
}
.banner-btn {
  padding: 14px 28px;
  font-size: 18px;
  background-color: rgb(204, 3, 3);
  color: wheat;
  margin: 10px;
  border: 1px solid red;
}
.banner-btn:hover {
  background-color: blue;
  color: wheat;
}
/* navbar ends */

/* section part starts */
.title-2 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.section-two {
  display: flex;
  justify-content: space-evenly;
  margin-top: 70px;
  padding: 50px;
}
.card-1 {
  width: 300px;
  height: 200px;
  border: 2px solid gray;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 8px 8px 16px gray;
}
.card-1:hover {
  margin-top: 0;
  border: 2px solid salmon;
}
.gym-icon {
  width: 50px;
}
/* section part ends */

/* about us part starts */
.about-container {
  display: flex;
  background-color: black;
  color: wheat;
  height: 310px;
  /* justify-content: space-evenly;
  align-items: center; */
}
.about-left {
  width: 700px;
  margin-right: 40px;
  /* border: 1px solid red; */
}
.about-right {
  width: 700px;
  /* border: 1px solid black; */
}
.workout-image {
  display: flex;
  margin-top: 50px;
}
.workout-image img {
  width: 285px;
  height: 183px;
  transform: skewX(-20deg);
}
.btn-text {
  text-decoration: none;
  color: wheat;
}
/* about us part ends */

/* workout section starts */
.workout-container {
  width: 550px;
  height: 150px;
  background-image: url(./images/shape/Group_33094_1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}
/* workout section ends  */
